.badRating{
    background-color: red;
}
.NormalRating{
    background-color: yellow;
}
.GoodRating{
    background-color: rgb(13, 238, 81);
}

.input_text{
    border:1px solid #e1e1e1;
    font-weight: 400;
    max-height: 64px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 5px 10px;
    width: 74%;
    color: #a0a0a0;
    -webkit-user-select: text;
    user-select: text;
    padding: 9px 12px 11px;
    text-align: left;
    border-radius: 20px;
    font-weight: 400;
    line-height: 20px;
}
.ReactModal__Overlay{
    z-index: 3;
}